/*_____ Base _____*/
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

[type="radio"] {
  display: none;
}

/*_____ Sorting _____*/
.sorting-container {
  justify-content: flex-center;
  /*align-items: center;*/
  display: flex;
  margin-top: auto;
}

.bar {
  border-radius: 0.5em;
  margin: max(0.8px, 0.15%);
}

/* Remove header when below 200px */
@media only screen and (max-height: 200px) {
  .app-vanish {
    display: none !important;
  }
}
